.ShowOverview {
    flex: 1;
    display: flex;
}

.ShowOverview div:first-child {
    flex: 1;
}

.ShowOverview div:last-child {
    flex-grow: 1;
}

.ShowOverview .img {
    margin-right: 15px;
}

.ShowOverview .title, .ShowOverview .season {
    font-size: 24px;
}

.ShowOverview p {
    margin: 10px 0;
    padding: 0;
}

.ShowOverview .season {
    font-size: 18px;
}
