.Card {
    margin: 5px;
    min-height: 295px;
    min-width: 210px;
}

.Card.no-img {
    font-size: 24px;
    font-weight: bolder;
    background-image: url("../../assets/no-img.png");
}
.Card.no-img a p {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
